<form [formGroup]="form" class="flight-form">
  <div class="row">
    <div class="col-12 col-md-4">
      <app-form-input
        formControlName="code"
        label="Flight Code"
        icon="tag"
        transform="uppercase"
        [maxlength]="4"
        placeholder="e.g. TF01">
        <mat-hint align="end">{{form.get('code')?.value?.length || 0}}/4</mat-hint>
      </app-form-input>
    </div>
    <div class="col-12 col-md-8">
      <app-form-input
        formControlName="additionalInformation"
        type="textarea"
        label="Additional Information"
        icon="info"
        [maxlength]="500"
        placeholder="Notes...">
      </app-form-input>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-6">
      <app-form-input
        formControlName="origin"
        label="Origin"
        icon="flight_takeoff"
        [maxlength]="50"
        placeholder="e.g. Paris">
      </app-form-input>
    </div>
    <div class="col-12 col-md-6">
      <app-form-input
        formControlName="destination"
        label="Destination"
        icon="flight_land"
        [maxlength]="50"
        placeholder="e.g. Berlin">
      </app-form-input>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-6">
      <app-form-input
        formControlName="departureTime"
        label="Departure Time"
        icon="schedule"
        type="datetime-local">
      </app-form-input>
    </div>
    <div class="col-12 col-md-6">
      <app-form-input
        formControlName="returnTime"
        label="Return Time"
        icon="history_toggle_off"
        type="datetime-local">
      </app-form-input>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-12">
      <mat-checkbox formControlName="withSKPlanesDiscount" color="primary" class="discount-checkbox">
        Apply SK Planes Discount
      </mat-checkbox>
    </div>
  </div>

  <h3 class="crew-section-title">
    <mat-icon>group</mat-icon> Crew Members
  </h3>

  @for (crewMember of crew.controls; track crewMember; let index = $index) {
    <div formArrayName="crew" class="crew-container modern-shadow">
      <div class="row crew-header">
        <div class="col d-flex justify-content-between align-items-center">
          <span class="crew-title">Crew Member {{ index + 1 }}</span>
          <button mat-icon-button color="warn" type="button" (click)="removeCrewMember(index)">
            <mat-icon>delete_outline</mat-icon>
          </button>
        </div>
      </div>
      <div class="row" [formGroupName]="index">
        <div class="col-12 col-md-7">
          <app-form-input
            formControlName="name"
            label="Name"
            icon="person"
            placeholder="John Doe">
          </app-form-input>
        </div>
        <div class="col-12 col-md-5">
          <app-form-input
            formControlName="job"
            type="select"
            [options]="jobs"
            label="Job Role"
            icon="work_outline"
            placeholder="Select Job">
          </app-form-input>
        </div>
      </div>
    </div>
  }

  <div class="row mt-3">
    <div class="col-12">
      <button mat-stroked-button color="primary" class="add-crew-btn w-100" type="button" (click)="addCrewMember()">
        <mat-icon>person_add</mat-icon> Add Crew Member
      </button>
    </div>
  </div>
</form>
