<div class="flight-card">
  <div class="flight-header">
    <div class="badge">FLIGHT</div>
    <div class="flight-code">{{ flight.code }}</div>
    @if(flight.withSKPlanesDiscount) {
      <div class="discount-badge">SK DISCOUNT</div>
    }
  </div>

  <div class="flight-route">
    <div class="location origin">
      <span class="city">{{ flight.origin }}</span>
      <span class="label">Departure</span>
    </div>
    
    <div class="route-path">
      <div class="line"></div>
      <div class="icon-wrapper">
        <mat-icon>flight</mat-icon>
      </div>
    </div>
    
    <div class="location destination">
      <span class="city">{{ flight.destination }}</span>
      <span class="label">Arrival</span>
    </div>
  </div>
  
  <div class="flight-details">
    <div class="time-row">
      <div class="time-block">
        <mat-icon class="small-icon">flight_takeoff</mat-icon>
        <span class="time">{{ flight.departureTime }}</span>
      </div>
    </div>
    <div class="time-row">
      <div class="time-block">
        <mat-icon class="small-icon">flight_land</mat-icon>
        <span class="time">{{ flight.returnTime }}</span>
      </div>
    </div>
  </div>
</div>
