@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.toast-success {
  background-color: rgb(37, 226, 37);
}

.toast-error {
  background-color: rgb(243, 19, 19);
}
.body {
  background-color: rgb(161, 158, 158);
}
